.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

a, a:visited, a:active {
    color: #000;
    text-decoration: none;
}

.page-header {
    background: black;
    margin: 0;
    padding: 20px 20px 20px 40px;
}
h1{
  font-family: 'Asap', sans-serif;
}

.mensagem{
  color: red;
}

.sair{
  float: right !important;
}

#footer {
	background: #f6f6f6;
	padding: 30px 0;
}

#footer p {
	color: #888;
	font-size: 14px;
}

#footer a {
	color: #608dfd;
}

#footer a:hover {
	border-bottom: 2px solid #608dfd;
}

.corpo{
  min-height: 600px;
}
